*.xlsx
*.tmp
*.docx
*.plist
*.Trashes
*.Thumbs.db
*.ethumbs.db
*.dmg
*.iso
*.tar
*.zip
*.gz
*.pptx
*.ppt
*.xls
*.csv
*.dll
*.exe
*.o
*.so
*.com
*.clas
*.out
*.rtf
*.json
*.swp
*.dSYM
.voscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!vscode/extensions.json
